/*
 *
 * Name: "page-.css"
 * Link: "syswork/styles/index/page-.css"
 *
 */

/* Imports */
/* @import "tailwindcss"; */
/***/
/*?*/


/* Customizes */
@layer base {
  /**/

  /*
    || --- ~~!~~ --- ||
    Later . . .
    || --- ~~!~~ --- ||
  */
  /**/

  /**/
}
@layer components {
  /**/

  /*
    || --- ~~!~~ --- ||
    Later . . .
    || --- ~~!~~ --- ||
  */
  /**/

  /**/
}
@layer utilities {
  /**/

  /*
    || --- ~~!~~ --- ||
    Later . . .
    || --- ~~!~~ --- ||
  */
  /**/

  /**/
}
/***/


/* * */
