# HTACCESS

# Aktifkan URL rewriting
RewriteEngine On

# Hilangkan ekstensi .html dari URL
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+/?)$ $1.html [L]

# Hilangkan ekstensi .css dari URL
RewriteCond %{REQUEST_FILENAME}.css -f
RewriteRule ^([^/]+)$ $1.css [L]

# Hilangkan ekstensi .js dari URL
RewriteCond %{REQUEST_FILENAME}.js -f
RewriteRule ^([^/]+)$ $1.js [L]
