/* coder-talent.css */


/* Area15 */
.bg-moona {
  background-color: #793F97 !important;
}

.bg-iofi {
  background-color: #71E571 !important;
}

.bg-risu {
  background-color: #FF69B4 !important;
}

/* Area15 */
/**/
/* Holoro */
.bg-reine {
  background-color: #207AD5 !important;
}

.bg-ollie {
  background-color: #d20404 !important;
}

.bg-anya {
  background-color: #F5DD66 !important;
}

/* Holoro */
/**/
/* Holoh3ro */
.bg-zeta {
  background-color: #ADADAD !important;
}

.bg-kobo {
  background-color: #6EC1E4 !important;
}

.bg-kaela {
  background-color: #ff3705 !important;
}
/* Holoh3ro */


/* Keyframing */
@keyframes risingIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes risingOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
}


@keyframes risingCardIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes risingCardOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
}

.rising-card-in {
  animation: risingCardIn 0.35s ease-out forwards;
}
.rising-card-out {
  animation: risingCardOut 0.35s ease-in forwards;
}

/* Keyframing */
