/*
 *
 * Name: "page-index.css"
 * Link: "syswork/styles/page-index.css"
 *
 */

/* Imports */
/* @import "tailwindcss"; */
/***/
/*?*/

/* Customizes */
@layer base {
  /**/
}
@layer components {
  .index-h1,
  .index-h1 h1 {
    @apply mb-2;
  }
}
@layer utilities {
  /**/
}

/* * */
