/*
 *
 * Name: "page-index.css"
 * Link: "syswork/styles/page-index.css"
 *
 */

/* Imports */
/* @import "tailwindcss"; */
/***/
/*?*/


/* Customizes */
@layer base {
  /**/

  /*
    || --- ~~!~~ --- ||
    Later...
    || --- ~~!~~ --- ||
  */
  /**/

  /**/
}
@layer components {
  /**/

  /*
    || --- ~~!~~ --- ||
    Later . . .
    || --- ~~!~~ --- ||
  */
  /**/
  /***/
  /*
  *//*
    || --- ~~!~~ --- ||
    List Basis and Animatings
    || --- ~~!~~ --- ||
  */
  .index-page-list,
  .index-page-list a {
    @apply
      select-none relative block
      transition-all duration-300 ease-out
    ;
    @apply
      mx-auto px-1
      /**/
      w-[44rem]
      lg:w-[76rem]
    ;
    /**/
    @apply
      hover:scale-[1.2]
      active:scale-[0.9]
    ;
  }
  /*~*-*~*/
  .link-list-text,
  .link-list-text span {
    @apply
      select-none
      relative z-10
    ;
    @apply
      active:font-bold
    ;
  }
  .link-list-line,
  .link-list-line span {
    @apply
      select-none
      pointer-events-none bg-current
      transition-transform duration-300 ease-out
    ;
    /**/
    @apply
      absolute origin-center
    ;
    @apply
      /*
        w-full
      */
      inset-x-4
      h-px
    ;
    @apply
      /* left-0 */
      bottom-0 scale-x-0
      /**/
      group-hover:scale-x-92
      lg:group-hover:scale-x-96
      group-active:scale-x-74
      lg:group-active:scale-x-46
    ;
  }

  /**/
}
@layer utilities {
  /**/

  /**/

  /**/
}
/***/


/* * */
