/*
 *
 * Name: "tailwind.input.css"
 * Link: "syswork/styles/imports/tailwind.input.css"
 *
 */

/* Setup Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**/
@layer base {
  body {
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}


/* * */
